:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


.input-error:focus,
.input-success:focus,
input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1201;
  cursor: not-allowed;
}

.loader-wrapper p {
  font-weight: lighter;
  color: #fff;
}